{% extends "base.html" %}
{% block content %}
{% load static %} 




  <main class="mt-4 mb-5">
            <div class="container">
                <div class="row">
                  <div class="col-sm-2"></div>
                      <div class="col-sm-8">
                        <h6> 
                         
                        </h6>
                      </div>
                    <div class="col-sm-2"></div>
                </div>
              <div class="row">
                <div class="col-sm-2">
                  {% block rightsidebar %} 
                  {% include 'test.html' %} 
                  {% endblock rightsidebar %}
                </div>
                <div class="col-sm-8">
                  <div class="row row-cols-1 row-cols-md-2 g-4">
                    
                        {% for post in allPosts%}
                            <div class="col">
                                  <div class="card mb-1"> 
                                    <img src={{ post.thumbnail.url }} class="card-img-top" alt="Image">
                                    <div class="card-body">
                                        <div class="row mt-1 mb-2"> <h5 class="card-title"> {{ post.name }}  </h5> </div>
                                        <p class="card-text">{{post.description|slice:"150"}}...</p>
                                        <p class="card-text">   
                                           <span class="badge rounded-pill bg-warning "> 
                                            <a href="{% url 'parent_cat' post.parent_cat %}" class="text-decoration-none link-dark"> {{ post.parent_cat}} </a>     
                                            </span> 
                                            
                                            <span class="badge rounded-pill bg-warning "> 
                                              <a href="{% url 'child_cat' post.parent_cat post.child_cat %}" class="text-decoration-none link-dark"> {{ post.child_cat}} </a>     
                                            </span>
                                      </p>
                                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More </a>
                                    </div>
                                  </div>        
                            </div>
                          {% endfor %}
                        </div>
                </div>
                <div class="col-sm-2">
                  {% block leftsidebar %} 
                  {% include 'test.html' %} 
                  {% endblock leftsidebar %}
                </div>
              </div>
            </div>
          </main>


{%endblock%}