{% extends "base.html" %}
{% block content %}
{% load static %} 
<div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-0 h1">{{ DetailView.name }}</h1>
  </div>

  <main class="mt-4 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          {% block rightsidebar %} 
          {% include 'sidebar.html' %} 
          {% endblock rightsidebar %}
        </div>
        <div class="col-sm-8">
                <section class="border-bottom mb-4">
                  <img src={{ DetailView.thumbnail.url }} class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />
                </section>
                <section> 
                  <p> <strong> {{ DetailView.description}} </strong> </p>
                    <section class="border-top mb-4">

                      <div class="container">
                        <div class="row">
                            <div class="col">
                               <div class="row">
                                    <h1 class="display-6"> 
                                      <strong> 
                                        10. {{ DetailView.number_10_title }} 
                                      </strong>
                                    </h1>
                                </div>
                                <div class="row">
                                  <p>    {{ DetailView.number_10_desc }} </p>
                                </div>
                            </div>
                            <div class="col"> {{ DetailView.number_10_img }}
                              <img src={{ DetailView.number_10_img }} alt="image" />
                            </div>
                          </div>
                      </div>
                        
                        <h5> 09. {{ DetailView.number_09_title }} </h5> 
                            {{ DetailView.number_09_img }}
                        <p>   {{ DetailView.number_09_desc }} </p>

                        <h5> 08. {{ DetailView.number_08_title }} </h5> 
                            {{ DetailView.number_08_img }}
                        <p>   {{ DetailView.number_08_desc }} </p>    
                    </section>  
                </section>

          <section class="border-bottom mb-4 pb-4">
            <div class="row">
              <div class="col-3">
              </div>
            </div>
          </section>
          <!--Section: Author-->

          <!--Section: Comments-->
          <section class="border-bottom mb-3">
            <p class="text-center"><strong>Recommends</strong></p>

            <!-- Comment -->
            <div class="row mb-4">
              <div class="col-2">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-10">
                <p class="mb-2"><strong>Marta Dolores</strong></p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                </p>
              </div>
            </div>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-sm-2">
          {% block leftsidebar %} 
          {% include 'sidebar.html' %} 
          {% endblock leftsidebar %}
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>

{%endblock%}

